/* https://www.color-hex.com/color-palette/4555 */
/* Loki Palette:
#d6d3ae	(214,211,174)
#50630d	(80,99,13)
#d6ae2f	(214,174,47)
#0b450a	(11,69,10)
#071a03	(7,26,3) */

/* Loki Sakaar Palette:
#0b567a	(11,86,122)
#10384b	(16,56,75)
#d2bb31	(210,187,49)
#5c5c5c	(92,92,92)
#000000	(0,0,0) */

/* Loki Laufeyson Palette:
#55863f	(85,134,63)
#0f4421	(15,68,33)
#d3b616	(211,182,22)
#112d0f	(17,45,15)
#2f352c	(47,53,44) */

/* 
#959a83	(149,154,131)
#d6720c	(214,114,12)
#6f6318	(111,99,24)
#5f7a6e	(95,122,110)
#29584f	(41,88,79) */

body {
    color: #959a83;
    background-color: #112d0f;
}

button {
    color: #d6ae2f;
    background-color: #0b450a;
}